{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "ie 11"]
        }
      }
    ],
    "react",
    "stage-0"
  ],
  "plugins": [ 
    ["styled-components", { "ssr": true }],
    "react-loadable/babel",
    "syntax-dynamic-import",
    "react-hot-loader/babel"
  ]
}
