{
  "parser": "babel-eslint",
  "plugins": [
    "flowtype",
    "jsx-a11y",
    "react"
  ],
  "extends": [
    "eslint:recommended",
    "prettier",
    "plugin:flowtype/recommended",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2017,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "react/no-redundant-should-component-update": "error",
    "react/prefer-stateless-function": ["error", {
      "ignorePureComponents": true
    }],
    "react/no-direct-mutation-state": "error",
    "react/no-will-update-set-state": "error",
    "react/no-did-update-set-state" : "error",
    "react/no-did-mount-set-state": "error",
    "react/jsx-no-duplicate-props": "error",
    "react/react-in-jsx-scope": "error",
    "react/no-array-index-key": "error",
    "react/no-children-prop": "error",
    "react/jsx-pascal-case": "error",
    "react/no-string-refs": "error",
    "react/no-this-in-sfc": "error",
    "react/no-multi-comp": "error",
    "react/jsx-no-bind": "error",
    "no-else-return": "error",
    "react/jsx-key": "error",
    "react/jsx-curly-spacing": "warn",
    "react/no-deprecated": "warn",
    "react/no-danger": "warn",
    "no-console": "warn",
    "react/jsx-wrap-multilines": 0,
    "react/display-name": 0,
    "react/prop-types": 0,
    "indent": [
      "error",
      2
    ]
  },
  "globals": {
    "document": true,
    "window": true,
    "fetch": true
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  }
}